* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml svneol=native#text/xml
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml svneol=native#text/xml
src/main/java/edu/uiowa/lucene/LuceneCount.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/lucene/LuceneCountFacetRequest.java -text
src/main/java/edu/uiowa/lucene/LuceneDelete.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/lucene/LuceneDocument.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/lucene/LuceneDrillDownFacet.java -text
src/main/java/edu/uiowa/lucene/LuceneDrillDownProcessor.java -text
src/main/java/edu/uiowa/lucene/LuceneFacet.java -text
src/main/java/edu/uiowa/lucene/LuceneFacetIterator.java -text
src/main/java/edu/uiowa/lucene/LuceneField.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/lucene/LuceneHelper.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/lucene/LuceneHit.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/lucene/LuceneHitRank.java -text
src/main/java/edu/uiowa/lucene/LuceneIndex.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/lucene/LuceneIterator.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/lucene/LuceneSearch.java svneol=native#text/x-java-source
src/main/java/edu/uiowa/lucene/LuceneTaxonomy.java -text
src/main/java/edu/uiowa/lucene/biomedical/BiomedicalAnalyzer.java -text
src/main/java/edu/uiowa/lucene/biomedical/BiomedicalNormalizer.java -text
src/main/java/edu/uiowa/lucene/biomedical/BiomedicalParseCup.java -text
src/main/java/edu/uiowa/lucene/biomedical/BiomedicalParseSym.java -text
src/main/java/edu/uiowa/lucene/biomedical/BiomedicalTokenizer.java -text
src/main/java/edu/uiowa/lucene/biomedical/BooleanParseSym.java -text
src/main/java/edu/uiowa/lucene/biomedical/biomedicalLexerFlex.java -text
src/main/java/edu/uiowa/lucene/biomedical/biomedicalLexerFlex.lex -text
src/main/java/edu/uiowa/lucene/biomedical/biomedicalParse.cup -text
src/main/java/edu/uiowa/lucene/biomedical/biomedicalParse.lex -text
src/main/java/edu/uiowa/lucene/biomedical/biomedicalParseFlex.java -text
src/main/java/edu/uiowa/lucene/booleanSearch/BooleanParseCup.java -text
src/main/java/edu/uiowa/lucene/booleanSearch/BooleanParseSym.java -text
src/main/java/edu/uiowa/lucene/booleanSearch/booleanParse.cup -text
src/main/java/edu/uiowa/lucene/booleanSearch/booleanParse.lex -text
src/main/java/edu/uiowa/lucene/booleanSearch/booleanParseFlex.java -text
src/main/java/edu/uiowa/lucene/conceptSearch/ConceptParseCup.java -text
src/main/java/edu/uiowa/lucene/conceptSearch/ConceptParseSym.java -text
src/main/java/edu/uiowa/lucene/conceptSearch/conceptParse.cup -text
src/main/java/edu/uiowa/lucene/conceptSearch/conceptParse.lex -text
src/main/java/edu/uiowa/lucene/conceptSearch/conceptParseFlex.java -text
src/main/java/edu/uiowa/lucene/ld4lSearch/LD4LParser.java -text
src/main/java/edu/uiowa/lucene/util/FacetIndexer.java -text
src/main/java/edu/uiowa/lucene/util/LocalProperties.java -text
src/main/java/edu/uiowa/lucene/util/PropertyLoader.java -text
src/main/java/edu/uiowa/lucene/util/SimpleFacetsExample.java -text
src/main/resources/META-INF/taglib.tld -text svneol=unset#text/xml
src/main/resources/META-INF/taglib.tld.off -text
src/test/java/edu/uiowa/lucene/README.txt svneol=native#text/plain
src/test/resources/README.txt svneol=native#text/plain
